{% extends 'base.html.twig' %}

{% set page_title = 'Ice escapes' %}
{% set metaPropsImage = absolute_url(asset('build/images/logo.png')) %}
{% set metaPropsDescription = 'Global ranking of SC2 ice escapes. Featuring IBE1, RIBE1, IBE2, IBE2.1, IBE-CV, IBE-CV-EZ, IBE-CV-PRO.' %}

{% block body %}
    <div class="tw-escapes container">

        <div class="replay-submit">
            <div class="row my-2">
                <div class="col">
                    <h5>Submit new escape!</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <form enctype="multipart/form-data" id="fupForm" method="POST">
                        <input class="form-control" id="file" accept=".SC2Replay" name="file" type="file" />
                        <input type="submit" name="submit" class="btn btn-sm btn-success btn-block submitBtn" value="Upload" />
                    </form>
                    <h6 class="text-right mt-2">You can also <u><a href="/import/replay">upload multiple replays</a></u> at once.</h6>
                </div>
                <div class="col-md-5">
                    <div id="loader" style="display: none;"></div>
                    <div class="alert fade" style="display:block;" role="alert">
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="header" id="rtop-filter">
            <div class="form-inline">
                <div class="sect sect-single">
                    <label>Game</label>
                    <div class="btn-group" data-column="game">
                        <button type="button" class="btn btn-sm btn-info active">Any</button>
                        {% for item in gameList %}
                            <button type="button" class="btn btn-sm btn-info">{{ item.NAME_SHORT }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-inline">
                <div class="sect">
                    <label>Difficulty</label>
                    <div class="btn-group" role="group" aria-label="difficulty" data-column="difficulty">
                        <button type="button" class="btn btn-sm btn-info active">Any</button>
                        <button type="button" class="btn btn-sm btn-info">Normal</button>
                        <button type="button" class="btn btn-sm btn-info">Extreme</button>
                    </div>
                </div>

                <div class="sect">
                    <label>Speed</label>
                    <div class="btn-group" role="group" aria-label="speed" data-column="speed">
                        <button type="button" class="btn btn-sm btn-info active">Any</button>
                        <button type="button" class="btn btn-sm btn-info">Normal</button>
                        <button type="button" class="btn btn-sm btn-info">Fast</button>
                        <button type="button" class="btn btn-sm btn-info">Speedy</button>
                    </div>
                </div>
            </div>

            <div class="form-inline">
                <div class="sect">
                    <label>Region</label>
                    <div class="btn-group" role="group" aria-label="region" data-column="region">
                        <button type="button" class="btn btn-sm btn-info active">Any</button>
                        <button type="button" class="btn btn-sm btn-info">EU</button>
                        <button type="button" class="btn btn-sm btn-info">NA</button>
                        <button type="button" class="btn btn-sm btn-info">KR / TW</button>
                        <button type="button" class="btn btn-sm btn-info">CN</button>
                    </div>
                </div>
                <div class="sect">
                    <label>Type</label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-info active" data-dset="{{ {wr: null, recorded: null}|json_encode(constant('JSON_HEX_QUOT')) }}">Any</button>
                        <button type="button" class="btn btn-sm btn-info" data-dset="{{ {wr: 1, recorded: null}|json_encode(constant('JSON_HEX_QUOT')) }}">World Records</button>
                        <button type="button" class="btn btn-sm btn-info"  data-dset="{{ {wr: null, recorded: 1}|json_encode(constant('JSON_HEX_QUOT')) }}">Recorded</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="escapes-loader" class="mt-4 d-flex justify-content-center">
            <div class="spinner-border text-primary text-center" style="width: 6rem; height: 6rem; position: absolute;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div id="escapes-dt-wrapper" class="invisible">
            <table id="escapes-dt" class="table dt-responsive nowrap">
                <thead>
                    <tr>
                        <th scope="col" data-priority="1" data-orderable="false" data-searchable="false" data-width="25" data-class-name="id">No.</th>
                        <th scope="col" data-class-name="players">Players</th>
                        <th scope="col" data-priority="2" data-class-name="time">Time</th>
                        <th scope="col" data-priority="2" data-class-name="game">Game</th>
                        <th scope="col" data-priority="3" data-class-name="difficulty">Difficulty</th>
                        <th scope="col" data-priority="3" data-class-name="speed">Speed</th>
                        <th scope="col" data-priority="4" data-width="25" data-class-name="region">Region</th>
                        <th scope="col" data-priority="5" data-class-name="submitted_on">Submitted</th>
                        <th scope="col" data-orderable="false" data-searchable="false" data-width="25" data-class-name="action"></th>
                        <th scope="col" data-visible="false" data-class-name="wr">WR</th>
                        <th scope="col" data-visible="false" data-class-name="recorded">Recorded</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var table = $('#escapes-dt').DataTable({
                "pageLength": 50,
                 "ajax": {
                    "url": "{{ path('ajaxFindEscapes') }}"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "players" },
                    { "data": "time","defaultContent": "" },
                    { "data": "game" },
                    { "data": "difficulty" },
                    { "data": "speed" },
                    { "data": "region" },
                    { "data": "submitted_on" },
                    { "data": "action" },
                    { "data": "wr" },
                    { "data": "recorded" }
                ],
                "order": [
                    ["7", "desc"],
                ],
                columnDefs: [
                    {
                        "createdCell": function(td, cellData, rowData, row, col) {
                            $(td).empty();
                            var wr ='';
                            if(rowData.wr==1)wr = "<a title='World Record!' class='ico-wr float-right'><i class='fas fa-medal fa-lg'></i></a>";
                            var yt ='';
                            if(rowData.recorded==1)wr = "<a title='YouTube video!' class='ico-video float-right'><i class='fab fa-youtube fa-lg'></i></a>";
                            $(td).prepend(
                                wr+cellData.formatted+yt
                            );

                        },
                        render: {
                            _: 'formatted',
                            sort: 'raw'
                        },
                     targets: 1},
                    {
                        data: 'time',
                        type: "num",
                        render: {
                            _: 'formatted',
                            sort: 'raw'
                        },
                        targets: 2
                    },
                    {
                        data: 'submitted_on',
                        type: "num",
                        render: {
                            _: 'formatted',
                            sort: 'raw'
                        },
                        targets: 7
                    },

               ],
                "initComplete": function( settings, json ) {
                    $('#escapes-loader').remove();
                    $('#escapes-dt-wrapper').removeClass('invisible');
                }
            });

             table.on('order.dt search.dt', function () {
                table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i + 1 + '.';
                });
            }).draw();

            $("#rtop-filter .btn-group .btn").on('click', function (e) {
                console.log("click");
                e.preventDefault();
                var $btnGroup = $(this).parent('.btn-group');
                $(this).addClass('active').siblings().removeClass('active');
                if ($(this).data('dset')) {
                    $.each($(this).data('dset'), function (key, value) {
                        var column = table.column('.' + key);
                        if (value === null) {
                            column.search("").draw();
                        }
                        else {
                            column.search("^" + value + "$", true, false, true).draw();
                        }
                    }.bind(this));
                    return;
                }

                var column = table.column('.' + $btnGroup.data('column'));
                if ($(this).index() === 0) {
                    column.search("").draw();
                }
                else {
                    var name = $(this).data('value');
                    if (!name) {
                        name = $(this).text();
                    }
                    column.search("^" + name + "$", true, false, true).draw();
                }
            });


            // ---
            // submit replay form
            $("#fupForm").on('submit', function (e) {
                document.getElementById("loader").style.display = "block";
                e.preventDefault();

                function resetFrom() {
                    document.getElementById("loader").style.display = "none";
                    $('#fupForm').css("opacity", "1");
                    $('.submitBtn').removeAttr("disabled");
                    $(".alert").removeClass
                }

                $.ajax({
                    type: 'POST',
                    url: '/extractReplay',
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    beforeSend: function () {
                        $('.submitBtn').attr("disabled", "disabled");
                        $('#fupForm').css("opacity", ".5");
                        $(".alert").removeClass('alert-danger').removeClass('alert-success');
                    },
                    success: function (data) {
                        resetFrom();
                        console.log(data);

                        $(".alert").text(data.message);
                        $(".alert").addClass(data.success ? 'alert-success' : 'alert-danger');
                        $(".alert").removeClass("fade");

                        if (data.success) {
                            window.setTimeout(function() {
                                window.location.href = data.path;
                            }, 1500)
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        resetFrom();
                        $(".alert").addClass('alert-danger').text("Whoops, something went wrong.");
                        $(".alert").removeClass("fade");
                    },
                });
            });
        });
    </script>
{% endblock %}
