{% extends 'base.html.twig' %}
{% set page_title ='Profile - ' ~ name %}
{% block title %}Profile - {{name}}{% endblock %}

{% block body %}
<div class="card primary">
    <div class="card-header">
        <h3 class="title">Profile - {{name}}</h3>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-lg-12 col-xl-12">
                <div class="sd-heade">
                    <h4 class="title">General</h4>
                </div>

                <div class="props">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <th scope="row">World records count</th>
                                    <td class="row-value text-right">{{wr_count}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Challenges finished</th>
                                    <td class="row-value text-right">{{challenges}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Bonus taken</th>
                                    <td class="row-value text-right">{{powerups}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Buttons pushed</th>
                                    <td class="row-value text-right">{{buttons}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Time spent</th>
                                    <td class="row-value text-right">{{timeSpent|time_elapsed}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Most escaped Game</th>
                                    <td class="row-value text-right">{{mostEscapedGame}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Last escape</th>
                                    <td class="row-value text-right">{{lastEscape|date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tw-escapes container">

        <hr>

        <div class="header" id="rtop-filter">
            <div class="form-inline">
                <div class="sect sect-single">
                    <label>Game</label>
                    <div class="btn-group" data-column="game">
                        <button type="button" class="btn btn-sm btn-info active">IBE 1</button>
                        <button type="button" class="btn btn-sm btn-info">IBE 1 REV</button>
                        <button type="button" class="btn btn-sm btn-info">IBE 2</button>
                        <button type="button" class="btn btn-sm btn-info">IBE 2.1</button>
                        <button type="button" class="btn btn-sm btn-info">IBE CV</button>
                        <button type="button" class="btn btn-sm btn-info">IBE CV EZ</button>
                        <button type="button" class="btn btn-sm btn-info">IBE CV PRO</button>
                        <button type="button" class="btn btn-sm btn-info">BTB</button>
                        <button type="button" class="btn btn-sm btn-info">BTB PRO</button>
                        <button type="button" class="btn btn-sm btn-info">BTB BANE</button>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <div class="sect sect-single">
                    <label>State</label>
                    <div class="btn-group" data-column="state">
                        <button type="button" class="btn btn-sm btn-info active">ANY</button>
                        <button type="button" class="btn btn-sm btn-info">Finished</button>
                        <button type="button" class="btn btn-sm btn-info">Unfinished</button>
                    </div>
                </div>
            </div>
        <table id="myTable" class="display responsive">
            <thead>
                <tr>
                    <th scope="col" data-data="challenge" data-priority="1" data-class-name="challenge">Name</th>
                    <th scope="col" data-data="game" data-class-name="game">Game</th>
                    <th scope="col" data-data="state" data-class-name="state">State</th>
                    <th scope="col" data-visible="false" data-data="bestTimeNN" data-class-name="bestTimeNN">bestTimeNN</th>
                    <th scope="col" data-visible="false" data-data="bestTimeNF" data-class-name="bestTimeNN">bestTimeNF</th>
                    <th scope="col" data-visible="false" data-data="bestTimeNS" data-class-name="bestTimeNN">bestTimeNS</th>
                    <th scope="col" data-visible="false" data-data="bestTimeEN" data-class-name="bestTimeNN">bestTimeEN</th>
                    <th scope="col" data-visible="false" data-data="bestTimeEF" data-class-name="bestTimeNN">bestTimeEF</th>
                    <th scope="col" data-visible="false" data-data="bestTimeES" data-class-name="bestTimeNN">bestTimeES</th>
                    <th scope="col" data-data="img" data-class-name="img"></th>
                    <th class="none" scope="col" data-data="bestTime" data-class-name="img"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="10" style="text-align:right">Total:</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <img src="" class="enlargeImageModalSource" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                "ajax": {
                    "serverSide": true,
                    "ajax": {
                        "type": "GET",
                    },
                    "url": "{{ path('getProfileTimes', {'id':ppl_id}) }}"
                },
                "initComplete": function(settings, json) {
                     $("#rtop-filter .btn-group .active").trigger( "click" );
                },
                "pageLength": 50,
                "order": [
                    ["1", "asc"],
                ],
                "footerCallback": function ( row, data, start, end, display ) {
                    var api = this.api(), data;
                    if(api!=null){
                        var intVal = function ( i ) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '')*1 :
                                typeof i === 'number' ?
                                    i : 0;
                        };
                        text='';
                        if (api.column(3).data().length){
                            // Total over this page
                            pageTotalNN = api
                                .column( 3, { page: 'current'} )
                                .data()
                                .reduce( function (a, b) {

                                    return intVal(a) + intVal(b);
                                }, 0 );

                            if(pageTotalNN>0)text='Normal Normal :  '+secondsTimeSpanToHMS(pageTotalNN);

                        }
                        if (api.column(4).data().length){
                            // Total over this page
                            pageTotalNF = api
                                .column( 4, { page: 'current'} )
                                .data()
                                .reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                            if(pageTotalNF>0)text=text+' Normal Fast :  '+secondsTimeSpanToHMS(pageTotalNF);

                        }
                        if (api.column(5).data().length){
                            // Total over this page
                            pageTotalNS = api
                                .column( 5, { page: 'current'} )
                                .data()
                                .reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                            if(pageTotalNS>0)text=text+' Normal Speedy :  '+secondsTimeSpanToHMS(pageTotalNS);

                        }
                        if (api.column(6).data().length){
                            // Total over this page
                            pageTotalEN = api
                                .column( 6, { page: 'current'} )
                                .data()
                                .reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                            if(pageTotalEN>0)text=text+' Extreme Normal :  '+secondsTimeSpanToHMS(pageTotalEN);

                        }
                        if (api.column(7).data().length){
                            // Total over this page
                            pageTotalEF = api
                                .column( 7, { page: 'current'} )
                                .data()
                                .reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                            if(pageTotalEF>0)text=text+' Extreme Normal :  '+secondsTimeSpanToHMS(pageTotalEF);

                        }
                        if (api.column(8).data().length){
                            // Total over this page
                            pageTotalES = api
                                .column( 8, { page: 'current'} )
                                .data()
                                .reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                            if(pageTotalES>0)text=text+' Extreme Normal :  '+secondsTimeSpanToHMS(pageTotalES);

                        }
                         // Update footer
                        $( api.column( 0 ).footer() ).html(
                           'Total : ' +text
                        );
                    }
                }
            });
            function secondsTimeSpanToHMS(s) {
                var h = Math.floor(s/3600); //Get whole hours
                s -= h*3600;
                var m = Math.floor(s/60); //Get remaining minutes
                s -= m*60;
                return h+":"+(m < 10 ? '0'+m : m)+":"+(s < 10 ? '0'+Math.floor(s) : Math.floor(s)); //zero padding on minutes and seconds
            }

            $("#rtop-filter .btn-group .btn").on('click', function (e) {
                e.preventDefault();
                var $btnGroup = $(this).parent('.btn-group');
                $(this).addClass('active').siblings().removeClass('active');
                if ($(this).data('dset')) {
                    $.each($(this).data('dset'), function (key, value) {
                        var column = table.column('.' + key);
                        if (value === null) {
                            column.search("").draw();
                        }
                        else {
                            column.search("^" + value + "$", true, false, true).draw();
                        }
                    }.bind(this));
                    return;
                }
                var column = table.column('.' + $btnGroup.data('column'));
                if($btnGroup.data('column')=="state"){
                    if ($(this).index() === 0) {
                        column.search("").draw();
                    }
                    else {
                        var name = $(this).data('value');
                        if (!name) {
                            name = $(this).text();
                        }
                        column.search("^" + name + "$", true, false, true).draw();
                    }
                }else{
                    var name = $(this).data('value');
                        if (!name) {
                            name = $(this).text();
                        }
                        column.search("^" + name + "$", true, false, true).draw();
                }

            });
            $('.challenge-img').on('click', function() {
                var url =$(this).attr('src');
                url=url.replace("thumb","full");
                $('.enlargeImageModalSource').attr('src', url);
                $('#enlargeImageModal').modal('show');
            });
        });
        function enlargeImg(src){
            var url =src;
            url=url.replace("thumb","full");
            $('.enlargeImageModalSource').attr('src', url);
            $('#enlargeImageModal').modal('show');
        }
    </script>
{% endblock %}
