{% extends 'base.html.twig' %}

{% set page_title = 'Submit escapes' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('build/importReplay.css') }}">
<!-- Wrapper -->
	<div class="wrapper">

		<section class="container-fluid inner-page">

			<div class="row">

				<div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-12 full-dark-bg">

					<!-- Files section -->
					<h4 class="section-sub-title"><span>Upload</span> Your Replays</h4>

					<form action="/extractReplay" class="dropzone files-container">
						<div class="fallback">
							<input name="file" type="file" multiple />
						</div>
					</form>

					<!-- Notes -->
					<span>Only SC2Replay files types are supported.</span>
                    <span>Maximum file size is 20MB.</span>
					<!-- Uploaded files section -->
					<h4 class="section-sub-title"><span>Uploaded</span> Files <span class="uploaded-files-count">0</span> (Passed <span class="passed-files-count">0</span> Failed <span class="failed-files-count">0</span>)</h4>
					<span class="no-files-uploaded">No files uploaded yet.</span>

					<!-- Preview collection of uploaded documents -->
					<div class="preview-container dz-preview uploaded-files">
						<div id="previews">
							<div id="onyx-dropzone-template">
								<div class="onyx-dropzone-info">
									<div class="thumb-container">
										<img data-dz-thumbnail />
									</div>
									<div class="details">
										<div>
											<span data-dz-name></span> <span data-dz-size></span>
										</div>
										<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
										<div class="dz-error-message1"><span data-dz-errormessage></span></div>
										<div class="actions">
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div><!-- /End row -->

		</section>

	</div>
	<!-- /Wrapper -->
    	<!-- Main JS file -->
        <script >
        var failed=0;
        var passed=0;
            Dropzone.autoDiscover = false;
            !function ($) {

                "use strict";

                // Global Onyx object
                var Onyx = Onyx || {};


                Onyx = {

                    /**
                     * Fire all functions
                     */
                    init: function() {
                        var self = this,
                            obj;

                        for (obj in self) {
                            if ( self.hasOwnProperty(obj)) {
                                var _method =  self[obj];
                                if ( _method.selector !== undefined && _method.init !== undefined ) {
                                    if ( $(_method.selector).length > 0 ) {
                                        _method.init();
                                    }
                                }
                            }
                        }
                    },


                    /**
                     * Files upload
                     */
                    userFilesDropzone: {
                        selector: 'form.dropzone',
                        init: function() {
                            var base = this,
                                container = $(base.selector);

                            base.initFileUploader(base, 'form.dropzone');
                        },
                        initFileUploader: function(base, target) {
                            var previewNode = document.querySelector("#onyx-dropzone-template");

                            previewNode.id = "";

                            var previewTemplate = previewNode.parentNode.innerHTML;
                            previewNode.parentNode.removeChild(previewNode);

                            var onyxDropzone = new Dropzone(target, {
                                url: ($(target).attr("action")) ? $(target).attr("action") : "/extractReplay", // Check that our form has an action attr and if not, set one here
                                acceptedFiles: ".SC2Replay",
                                parallelUploads: 2,
                                timeout: 0,
                                previewTemplate: previewTemplate,
                                previewsContainer: "#previews",
                                clickable: true,

                                createImageThumbnails: true,

                                /**
                                 * The text used before any files are dropped.
                                 */
                                dictDefaultMessage: "Drop files here to upload.", // Default: Drop files here to upload

                                /**
                                 * The text that replaces the default message text it the browser is not supported.
                                 */
                                dictFallbackMessage: "Your browser does not support drag'n'drop file uploads.", // Default: Your browser does not support drag'n'drop file uploads.

                                /**
                                 * If the filesize is too big.
                                 * 1` and `20` will be replaced with the respective configuration values.
                                 */
                                dictFileTooBig: "File is too big (1 MiB). Max filesize: 30 MiB.", // Default: File is too big (1}MiB). Max filesize: 20 MiB.

                                /**
                                 * If the file doesn't match the file type.
                                 */
                                dictInvalidFileType: "You can't upload files of this type.", // Default: You can't upload files of this type.

                                /**
                                 * If the server response was invalid.
                                 * `x` will be replaced with the servers status code.
                                 */
                                dictResponseError: "Server responded with x code.", // Default: Server responded with x code.

                                /**
                                 * If `addRemoveLinks` is true, the text to be used for the cancel upload link.
                                 */
                                dictCancelUpload: "Cancel upload.", // Default: Cancel upload

                                /**
                                 * The text that is displayed if an upload was manually canceled
                                 */
                                dictUploadCanceled: "Upload canceled.", // Default: Upload canceled.

                                /**
                                 * If `addRemoveLinks` is true, the text to be used for confirmation when cancelling upload.
                                 */
                                dictCancelUploadConfirmation: "Are you sure you want to cancel this upload?", // Default: Are you sure you want to cancel this upload?

                                /**
                                 * If `addRemoveLinks` is true, the text to be used to remove a file.
                                 */
                                dictRemoveFile: "Remove file", // Default: Remove file

                                /**
                                 * If this is not null, then the user will be prompted before removing a file.
                                 */
                                dictRemoveFileConfirmation: null, // Default: null

                                /**
                                 * Displayed if `maxFiles` is st and exceeded.
                                 * The string `1` will be replaced by the configuration value.
                                 */
                                dictMaxFilesExceeded: "You can not upload any more files.", // Default: You can not upload any more files.

                                /**
                                 * Allows you to translate the different units. Starting with `tb` for terabytes and going down to
                                 * `b` for bytes.
                                 */
                                dictFileSizeUnits: {tb: "TB", gb: "GB", mb: "MB", kb: "KB", b: "b"},

                            });

                            Dropzone.autoDiscover = false;

                            onyxDropzone.on("addedfile", function(file) {
                                $('.preview-container').css('visibility', 'visible');
                                file.previewElement.classList.add('type-' + base.fileType(file.name)); // Add type class for this element's preview
                            });

                            onyxDropzone.on("totaluploadprogress", function (progress) {

                                var progr = document.querySelector(".progress .determinate");

                                if (progr === undefined || progr === null) return;

                                progr.style.width = progress + "%";
                            });

                            onyxDropzone.on('dragenter', function () {
                                $(target).addClass("hover");
                            });

                            onyxDropzone.on('dragleave', function () {
                                $(target).removeClass("hover");
                            });

                            onyxDropzone.on('drop', function () {
                                $(target).removeClass("hover");
                            });

                            onyxDropzone.on('addedfile', function () {

                                // Remove no files notice
                                $(".no-files-uploaded").slideUp("easeInExpo");

                            });

                            onyxDropzone.on('removedfile', function (file) {

                                $.ajax({
                                    type: "POST",
                                    url: ($(target).attr("action")) ? $(target).attr("action") : "/extractReplay",
                                    data: {
                                        target_file: file.upload_ticket,
                                        delete_file: 1
                                    }
                                });

                                // Show no files notice
                                if ( base.dropzoneCount() == 0 ) {
                                    $(".no-files-uploaded").slideDown("easeInExpo");
                                    $(".uploaded-files-count").html(base.dropzoneCount());
                                }

                            });

                            onyxDropzone.on("success", function(file, response) {
                                console.log(response);

                                // Make it wait a little bit to take the new element
                                setTimeout(function(){
                                    $(".uploaded-files-count").html(base.dropzoneCount());
                                    console.log('Files count: ' + base.dropzoneCount());
                                }, 350);
                                    var span =$('span:contains("'+file.name+'")').parent().parent();
                                    var icon ="";
                                    if(response.success===false){
                                        icon = "<i class='fa fa-times'></i>";
                                        span.find("[data-dz-errormessage]").append( response.message ).css('color', '#dc3545');
                                        span.find("[class*='actions']").append( icon );
                                        failed++;
                                         $(".failed-files-count").html(failed);
                                    }else{
                                        icon ="<i class='fas fa-check'></i>";
                                        span.find("[class*='actions']").append( icon ).find("i").css('color', 'green');
                                        passed++;
                                        $(".passed-files-count").html(passed);
                                    }


                                // Something to happen when file is uploaded
                            });
                        },
                        dropzoneCount: function() {
                            var filesCount = $("#previews > .dz-success.dz-complete").length;
                            return filesCount;
                        },
                        fileType: function(fileName) {
                            var fileType = (/[.]/.exec(fileName)) ? /[^.]+$/.exec(fileName) : undefined;
                            return fileType[0];
                        }
                    }
                }

                $(document).ready(function() {
                    Onyx.init();
                });

            }(jQuery);



        </script>
{% endblock %}
