table.dataTable {
    width: 100% !important;
    margin: 0 !important;
}

table.dataTable thead {
    th {
        border: 0;
        text-align: center;
        padding: 0.7rem 0.3rem;

        span {
            display: block;
        }
    }

    tr:first-child th {
        font-size: 0.95em;
        background: $app-b1;
        color: $white;
        font-family: $headings-font-family;
        text-transform: uppercase;
        padding-right: 1.2rem;

        &:not(:first-child) {
            border-left: 4px solid $app-b3;
            padding-left: 0.5rem;
        }

        &.sorting,
        &.sorting_asc,
        &.sorting_desc {
            &::before,
            &::after {
                font-size: 1.5em;
                line-height: 1rem;
                // margin-right: -5px;
                right: 0.3rem;
            }
        }

        &.sorting_asc,
        &.sorting_desc {
            background: $app-b0;
        }

        &.sorting:hover,
        &.sorting_asc:hover,
        &.sorting_desc:hover {
            background: $app-b2;
        }

        &.sorting_asc {
            &::after {
                // opacity: 0.3;
                display: none;
            }
        }

        &.sorting_desc {
            &::before {
                // opacity: 0.3;
                display: none;
            }
        }
    }

    tr.filter-row th {
        background: #eee;

        &.fcol-none {
            display: none;
        }
    }
}

div.dataTables_wrapper table.dataTable {
    td,
    th {
        color: #183538;
        // padding: 10px;
    }

    th {
        background-color: #daeff1;
        font-weight: 300;
    }

    td {
        padding: 0.5rem 0.65rem;
        vertical-align: middle;
        border-top-color: darken(#edf7f8, 5%);
    }

    tr:nth-child(2n) {
        background-color: white;
    }
    tr:nth-child(2n+1) {
        background-color: lighten(#edf7f8, 1%);
    }

    th.action {
        background: $app-b3;
    }

    td.action {
        padding-top: 0;
        padding-bottom: 0;

        a {
            font-size: 1.2em;
        }
    }
}

div.dataTables_wrapper div.dataTables_filter {
    float: right;

    label {
        display: block;
        // font-size: 0;
    }

    input.form-control {
        // width: 80%;
        width: 250px;
        // margin-left: 20%;
    }
}

// open/close marker
table.dataTable.dtr-inline.collapsed>tbody>tr {
    >th:first-child:before,
    >td:first-child:before {
        // vertical-align: middle;
        top: 50%;
        transform: translateY(-50%);
    }
}

//
table.dataTable ul.dtr-details {
    padding: 0;
    margin: 0;
    list-style-type: none;
    // display: flex;
    // flex-wrap: wrap;

    li {
        // padding: 0.5rem 1rem !important;
        padding: 0.2rem 0.6rem;
        border: none !important;

        .dtr-title {
            display: block;
            font-family: $headings-font-family;
            margin-bottom: 0.2rem;
            text-transform: uppercase;
            color: $app-b2;
        }

        .dtr-data {
            display: block;
            white-space: normal;
        }
    }
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    // justify-content: center;
    // align-items: center;
    margin: 0;

    li {
    }

    .page-link {
        padding: 0.4rem 0.6rem;
        // font-size: 0.9em;
        // line-height: 1.4em;
    }
}

div.dataTables_wrapper div.dataTables_info {
    display: inline-block;
    width: 100%;
    padding-top: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 0.9em;
    // border-bottom: 1px dotted $gray-500;

    em {
        color: $app-b2;
        padding: 0 0.1rem;
        font-style: normal;
    }
}

div.dataTables_wrapper .dt-foot,
div.dataTables_wrapper .dt-head {
    padding: 0.45rem 1rem;
    // background: $app-b4;
    background: rgba(adjust-hue($color: $app-b4, $degrees: 15), 0.5);
    font-family: $headings-font-family;
    color: #444;
    letter-spacing: 0.5px;

    &.dt-head {
        box-shadow: 0 -1px 1px rgba($app-b0, 0.2);
    }

    &.dt-foot {
        box-shadow: 0 3px 2px rgba($app-b0, 0.2);
    }

    label {
        margin: 0;
        // color: $text-muted;
        // font-weight: 300 !important;
    }
}
