// =================================
// ## ESCAPES
// =================================

.tw-escapes .header {
    margin: 0.3rem 0;
    padding: 0.3rem 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    // margin-bottom: 1.3rem;
    // padding-bottom: 0.7rem;
    // text-align: center;
    // border-bottom: 2px solid rgba($app-b4, 0.7);
    font-family: $headings-font-family;

    .form-inline {
        width: 100%;
        overflow-x: auto;

        &:not(:last-child) {
            margin-bottom: 0.4rem;
        }

        label {
            position: relative;
            margin: 0 0.2rem;
            padding: 0.2rem 0.1rem;
            padding-bottom: 0;
            // padding-left: 0.2rem;
            min-width: 90px;
            // border-bottom: 3px solid $green;
            // font-weight: 700;
            text-transform: uppercase;
            text-align: left;
            font-size: 0.9em;
            // line-height: 1.8em;
            // letter-spacing: 0.5px;
            color: $app-b0;
            // color: rgba(#000, 0.2);
            text-shadow: 1px 1px 1px rgba(#fff, 0.2);
            // border-bottom: 2px solid $green;
            // font-family: $headings-font-family;
            vertical-align: middle;
            // text-align: center;

            &::before {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 2px;
                content: '';
                border-bottom: 3px dashed rgba($green, 0.7);
            }
        }

        .btn-group {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            // align-items: center;
            margin-left: 0.2rem;

            .btn {
                display: block;
                flex-grow: 1;
                text-transform: uppercase;
                padding: 0.4rem 0.1rem;
                font-size: 0.9em;

                &:not(.active) {
                    border-right: 2px solid lighten($app-b2, 5%);
                }

                &.active {
                    box-shadow: inset 1px 1px 5px rgba(#000, 0.4);
                }
            }
        }
    }

    .sect {
        display: flex;
        flex-grow: 1;
        // margin-bottom: 0.5rem;

        &:not(:first-child) {
            margin-left: 0.2rem;
        }
    }

    @include media-breakpoint-up(lg) {
        .form-inline {
            justify-content: space-between;
        }

        .sect:not(.sect-single) {
            max-width: 49%;
        }
    }

    @include media-breakpoint-down(md) {
        .sect {
            flex-wrap: wrap;

            label {
                width: 100%;
            }
        }
    }
}

.tw-escapes table.dataTable {
    td.players {
        white-space: normal;

        span {
            letter-spacing: 0.5px;
            padding: 0 0.2rem;
        }
    }

    td.time {
        font-family: $font-family-monospace;
        text-align: right;
        padding-right: 12px;
        font-weight: 500;
        font-size: 1.05em;

        small {
        }
    }

    td.region {
        max-width: 40px;
    }

    .ico-wr {
        color: $orange;
    }

    .ico-video {
        color: $red;
    }

    .ico-wr+.ico-video {
        margin-right: 0.6rem;
    }

    @include media-breakpoint-up(lg) {
        td.players {
            max-width: 600px;
        }
    }

    @include media-breakpoint-down(md) {
        td.players {
            max-width: 300px;
        }
    }
}

// =================================
// ## REPLAY SUBMISSION
// =================================

.replay-submit,
.file-submit {
    padding: 0.3rem 1rem;
    position: relative;

    input[type="file"] {
        padding: 0 1rem;
        height: 60px;
        border: 2px dashed rgba($app-b0, 0.8);
        width: 100%;
    }

    input[type="submit"] {
        margin-top: 0.2rem;
        font-family: $headings-font-family;
        text-transform: uppercase;
        font-size: 1.1em;
        letter-spacing: 1px;
    }
}

