body {
    background-color: #aecfd1;
}

body >.navbar {
    background: $app-b5;
    box-shadow: 0 2px 2px rgba($app-b0, 0.2);
    font-family: $headings-font-family;
    text-transform: uppercase;
    padding: 0;
    background: ligthen($app-b3, 1%);

    .navbar-brand {
        display: inline-block;
        // background: rgba($success, 0.25);
        margin: 0;
        padding: 0 0.4rem;
        color: $app-b0;
        height: 50px;
        overflow: hidden;
        // padding: 0.2rem 0.6rem;
        transition: all 0.3s ease;

        img {
            display: inline-block;
            padding: 2px;
            max-height: 49px;
            border-radius: 50%;
            vertical-align: top;
            transition: all 0.3s ease;
        }

        h3 {
            display: inline-block;
            margin: 0;
            padding: 0;
            font-size: 28px;
            line-height: 48px;
            vertical-align: top;
        }

        &:hover {
            // color: $white;
            // background: $app-b0;
            color: $green;
            background: darken($app-b4, 1%);

            img {
                border-radius: 20%;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .navbar-collapse {
            // align-items: center;
            justify-content: flex-end;
        }

        .navbar-nav {
            // align-self: flex-end;

            .nav-item {
                &:not(:last-child) {
                    padding-left: 0.3rem;
                    padding-right: 0.3rem;
                    // border-right: 1px dashed $green;
                }
            }

            .nav-link {
                padding: 0 0.6rem;
                line-height: 48px;
                border-bottom: 2px solid transparent;
                transition: all 0.3s ease;
                color: $app-b0;

                &:hover {
                    border-color: $orange;
                    color: $app-b1;
                }
            }

            .nav-item.crystalconflux {
                // background: $app-b4;
            }
        }
    }
}

// =================================
// ## FOOTER
// =================================

#footer {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background: $gray-800;
    color: $app-b5;
    // box-shadow: -1px -2px 2px rgba(#000, 0.25);
    border-top: 2px solid $orange;

    .gitlab {
        color: #fff;
        font-size: 1.2em;
        margin-left: 0.5rem;

        i {
            color: #fca326;
        }
    }
}

// =================================
// ## FLUFF
// =================================

main .container {
    h1, h2, h3, h4, h5, h6 {
        color: $app-b0;
        text-shadow: 2px 2px 2px rgba(#fff, 0.3);
        // border-left: 2px solid $success;
    }
}

.sd-head {
    margin: 1.3rem 0.5rem;

    h1 {
        font-size: 2.3em;
    }
}

hr {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background: rgba($app-b2, 0.1);
    height: 2px;
}

.form-control {
    border: 0;
    box-shadow: none !important;
    background: $app-b3;
    border: 2px dashed rgba($app-b2, 0.2);
    border-radius: 0;
    font-family: $headings-font-family;
    letter-spacing: 1px;

    &:hover, &:focus, &:active {
        background: $app-b3;
    }

    &:focus {
        border: 2px solid rgba($app-b2, 0.5);
        background: lighten($app-b3, 5%);
    }
}

.player-name {
    position: relative;
    font-weight: 600;
    // filter: saturate(90%);
    filter: brightness(82%);
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper object,
.videoWrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// =================================
// ## CARD
// =================================

.card {
    border: 2px solid rgba($green, 0.5);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
    border-radius: 2px;
    background: lighten($app-b0, 60%);
}

.card-header {
    background: rgba(adjust-hue($color: $app-b2, $degrees: -5), 0.2);
}

.card-footer {
    background: transparent;
}

// =================================
// ## PROPS
// =================================

.props {
    .table tbody >tr:first-child {
        td, th {
            border-top: 0;
        }
    }

    .table td,
    .table th {
        border-bottom: 1px solid rgba($green, 0.3);
    }

    .table th {
        font-family: $headings-font-family;
        text-transform: uppercase;
        font-weight: 400;
        color: rgba($green, 0.7);
    }

    .row-value {
        // white-space: nowrap;
        font-size: 1.05em;
    }

    .form-group {
        margin-bottom: 0.5rem;

        &::after {
            display: block;
            clear: both;
            content: '';
        }
    }

    .form-label {
        float: left;
        text-align: right;
        width: 30%;
        font-size: 1rem;

        &::after {
            content: ':';
        }
    }

    .form-control-plaintext {
        width: auto;
        float: left;
        margin-left: 1.3rem;
        text-align: left;
        padding: 0;
    }
}
