$app-b0: #10707f;
$app-b1: #17a2b8;
$app-b2: #117a8b;
$app-b3: #91ced4;
$app-b4: #daeff1;
$app-b5: #edf7f8;

// =================================
// ## BOOTSTRAP OVERRIDES
// =================================

// grid

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1280px
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1240px
);

//

$border-radius: 1px;
$btn-border-radius-lg: 2px;
$btn-border-radius-sm: 2px;

// Fonts
// Roleway,Nunito;Oxygen,Poppins,Cabin
// th: Chau Philomene One
$font-family-base: 'Cabin', 'Titillium Web', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-family-monospace: 'Source Code Pro', 'Fira Mono', Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$headings-font-family: 'Chau Philomene One', serif;

// Colors
$primary: $app-b1;

// Inputs
// $input-bg: #fff;
// $input-height: 2.375rem;

// $input-color: $gray-700;
// $input-border-color: $border-color;
// $input-border-width: 1px;
// $input-box-shadow: inset 0 1px 1px rgba(#000, .075);

// $input-group-addon-border-color: $input-border-color;
// $input-group-addon-bg: #fbfbfc;

// $input-placeholder-color: $gray-500;

// Pagination
// $pagination-color: $body-color;
// $pagination-disabled-color: $gray-400;
