{% extends 'base.html.twig' %}

{% set page_title = 'Best players' %}

{% block content %}
    <table id="myTable" class="table dt-responsive nowrap">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Player</th>
                <th scope="col">WR Score</th>
                <th scope="col">Games</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "ajax": {
                    "url": "{{ path('ajaxFindPlayers') }}"
                },
                "pageLength": 50,
                "order": [[ 2, "desc" ]]
            });
        });
    </script>
{% endblock %}
