{% extends 'base.html.twig' %}

{% set page_title = 'Ice Maps' %}
{% set metaPropsImage = absolute_url(asset('build/images/logo.png')) %}
{% set metaPropsDescription = 'Global ranking of SC2 ice escapes. Featuring IBE1, RIBE1, IBE2, IBE2.1, IBE-CV, IBE-CV-EZ, IBE-CV-PRO.' %}


{% block body %}
    <div class="tw-escapes container">

        <hr>

        <div class="header" id="rtop-filter">
            <div class="form-inline">
                <div class="sect sect-single">
                    <label>Game</label>
                    <div class="btn-group" data-column="game">
                        <button type="button" class="btn btn-sm btn-info active">IBE 1</button>
                        <button type="button" class="btn btn-sm btn-info">IBE 1 REV</button>
                        <button type="button" class="btn btn-sm btn-info">IBE 2</button>
                        <button type="button" class="btn btn-sm btn-info">IBE 2.1</button>
                        <button type="button" class="btn btn-sm btn-info">IBE CV</button>
                        <button type="button" class="btn btn-sm btn-info">IBE CV EZ</button>
                        <button type="button" class="btn btn-sm btn-info">IBE CV PRO</button>
                        <button type="button" class="btn btn-sm btn-info">BTB</button>
                        <button type="button" class="btn btn-sm btn-info">BTB PRO</button>
                        <button type="button" class="btn btn-sm btn-info">BTB BANE</button>
                        <button type="button" class="btn btn-sm btn-info">ZEALOT</button>
                    </div>
                </div>
            </div>
        <table id="myTable" class="display responsive">
            <thead>
                <tr>
                    <th scope="col" data-data="challenge" data-priority="1" data-class-name="challenge">Name</th>
                    <th scope="col" data-data="game" data-class-name="game">Game</th>
                    <th scope="col" data-data="img" data-class-name="img"></th>
                    <th class="none" scope="col" data-data="bestTime" data-class-name="img"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <img src="" class="enlargeImageModalSource" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                "ajax": {
                    "serverSide": true,
                    "ajax": {
                        "type": "GET",
                    },
                    "url": "{{ path('ajaxFindMaps', {}) }}"
                },
                "initComplete": function(settings, json) {
                     $("#rtop-filter .btn-group .active").trigger( "click" );
                },
                "pageLength": 50,
                "order": [
                    ["1", "asc"],
                ],
            });


            $("#rtop-filter .btn-group .btn").on('click', function (e) {
                e.preventDefault();
                var $btnGroup = $(this).parent('.btn-group');
                $(this).addClass('active').siblings().removeClass('active');
                if ($(this).data('dset')) {
                    $.each($(this).data('dset'), function (key, value) {
                        var column = table.column('.' + key);
                        if (value === null) {
                            column.search("").draw();
                        }
                        else {
                            column.search("^" + value + "$", true, false, true).draw();
                        }
                    }.bind(this));
                    return;
                }

                var column = table.column('.' + $btnGroup.data('column'));
                console.log(column);
                var name = $(this).data('value');
                if (!name) {
                    name = $(this).text();
                    console.log(name);
                    column.search("^" + name + "$", true, false, true).draw();
                }
            });
            $('.challenge-img').on('click', function() {
                var url =$(this).attr('src');
                url=url.replace("thumb","full");
                console.log(url);
                $('.enlargeImageModalSource').attr('src', url);
                $('#enlargeImageModal').modal('show');
            });
        });
        function enlargeImg(src){
            var url =src;
            url=url.replace("thumb","full");
            console.log(url);
            $('.enlargeImageModalSource').attr('src', url);
            $('#enlargeImageModal').modal('show');
        }
    </script>
{% endblock %}
