{% extends 'base.html.twig' %}

{% set page_title =
    dataRun.game ~ ' - ' ~
    dataRun.diff_name|slice(0, 1) ~ '/' ~
    dataRun.speed_name|slice(0, 1) ~ ' - ' ~
    dataRun.time|replace({',': '', ' and': '', ' hours': 'h', ' minutes': 'm', ' seconds': 's'}) ~ ' - ' ~
    dataRun.region
%}

{% set playersList = [] %}
{% for item in players %}
    {% set playersList = playersList|merge([item.NAME]) %}
{% endfor %}

{% set metaPropsDescription =
    'Players: ' ~ playersList|join(', ') ~ '. \n' ~
    'Date: ' ~ dataRun.date|date
%}

{% block content %}
    <div class="card primary">
        <div class="card-header">
            <div class="float-right">
                <a href="{{asset("uploads/replays/") ~ dataRun.filename}}" class="btn btn-md btn-primary"><i class='fas fa-download'></i> Download SC2Replay</a>
            </div>
            <h3 class="title">Escape time: {{ dataRun.time }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-xl-3">
                    <div class="sd-heade">
                        <h4 class="title">Players</h4>
                    </div>


                    <div class="props">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <tbody>
                                    {% for key, item in players %}
                                        <tr>
                                            <th scope="row"><h5>{{ key + 1 }}.</h5></th>
                                            <td class="row-value text-right">
                                                <h5>
                                                    <a href='/profile/{{item['PLAYER_ID']}}' style='color:rgb( {{ item['COLOR']}});filter: brightness(0.93);'>
                                                        {% if item["LEFT"] == 1 %}
                                                            <strike>
                                                        {% endif %}
                                                        {{ item['NAME']}}
                                                        {% if item["LEFT"] == 1 %}
                                                            </strike>
                                                        {% endif %}
                                                    </a>
                                                </h5>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                     {% if ais|length > 0 %}
                                        <tr>
                                            <th scope="row"><h5>{{players|length + 1 }}.</h5></th>
                                            <td class="row-value text-right">
                                                <h5>
                                                    <span style='color:grey;'> and {{ ais|length }}  AI</span>
                                                </h5>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-5">
                    <div class="sd-heade">
                        <h4 class="title">Game details</h4>
                    </div>

                    <div class="props">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <th scope="row">Difficulty</th>
                                        <td class="row-value text-right">{{ dataRun.diff_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Speed</th>
                                        <td class="row-value text-right">{{ dataRun.speed_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Played on</th>
                                        <td class="row-value text-right">{{ dataRun.date|date }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Submitted on</th>
                                        <td class="row-value text-right">{{ dataRun.submited_on|date }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total time</th>
                                        <td class="row-value text-right">{{ dataRun.ELAPSED_GAME_TIME|time_elapsed }}</td>
                                    </tr>
                                    {% if dataRun.STARTED_AT_GT %}
                                        <tr>
                                            <th scope="row">Run started at</th>
                                            <td class="row-value text-right">{{ dataRun.STARTED_AT_GT|time_elapsed }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <th scope="row">Region</th>
                                        <td class="row-value text-right">{{ dataRun.region }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Map version</th>
                                        <td class="row-value text-right">{{ dataRun.version }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">SC2 client version</th>
                                        <td class="row-value text-right">{{ dataRun.CLIENT_VERSION }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="sd-heade">
                        <h4 class="title">Team performance</h4>
                    </div>

                    <div class="props">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <th scope="row">Revives</th>
                                        <td class="row-value text-right">{{ dataRun.revives }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Deaths</th>
                                        <td class="row-value text-right">{{ dataRun.deaths }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Level ups</th>
                                        <td class="row-value text-right">{{ dataRun.lvlups }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Boost (used)</th>
                                        <td class="row-value text-right">{{ dataRun.stim }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Creep (used)</th>
                                        <td class="row-value text-right">{{ dataRun.creep }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Throw essence (used)</th>
                                        <td class="row-value text-right">{{ dataRun.ring }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ART (used)</th>
                                        <td class="row-value text-right">{{ dataRun.art }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-xl-5"></div>
            </div>
        </div>
    </div>

    {% for video in videos %}
        <hr>
        <div class="sd-head div">
            <h3 class="title">Video</h3>
        </div>

        <div class="videoWrapper">
            <iframe width="560" height="349" src="{{ video.URL }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    {% endfor %}


    {% if players is defined %}
        <hr>
        <div class="sd-head div">
            <h3 class="title">Players performance</h3>
        </div>

        <div class="row mb-2">
            {% for player in players %}
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card mb-2">
                        <h5 style=" color:white; background: rgba({{ player.COLOR|e }});" class="card-header">{{ player.NAME|e }}</h5>
                        <div class="">
                            <canvas id="chart_{{ player.PPL|e }}" data-stims="{{ player.STIM|e }}" data-creeps="{{ player.CREEP|e }}" data-rings="{{ player.RING|e }}" data-arts="{{ player.ART|e }}" data-shades="{{ player.TIMESHIFT_CREATE|e }}" ></canvas>
                        </div>
                        <div class="card-body">
                            <div class="props">
                                <div class="table-responsive">
                                    <table class="table table-sm">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Challenges </th>
                                                <td class="row-value text-right">{{ player.CHALLENGES }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">APM</th>
                                                <td class="row-value text-right">{{ player.APM }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Levels</th>
                                                <td class="row-value text-right">{{ player.LEVEL }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Revives</th>
                                                <td class="row-value text-right">{{ player.REVIVE }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Deaths</th>
                                                <td class="row-value text-right">{{ player.DEATH }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Boost</th>
                                                <td class="row-value text-right">{{ player.STIM }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Creep</th>
                                                <td class="row-value text-right">{{ player.CREEP }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Throw Essence</th>
                                                <td class="row-value text-right">{{ player.RING }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Throw Essence revives</th>
                                                <td class="row-value text-right">{{ player.RING_REVIVE }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">ART</th>
                                                <td class="row-value text-right">{{ player.ART }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">ART revives</th>
                                                <td class="row-value text-right">{{ player.ART_REVIVE }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Shades created</th>
                                                <td class="row-value text-right">{{ player.TIMESHIFT_CREATE }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Shades used</th>
                                                <td class="row-value text-right">{{ player.TIMESHIFT_USE }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function(){
                                var ppl_id="{{ player.PPL|e }}";
                                var div="chart_"+ppl_id;
                                var stims= $("#"+div).data("stims");
                                var creeps= $("#"+div).data("creeps");
                                var rings= $("#"+div).data("rings");
                                var arts= $("#"+div).data("arts");
                                var shades= $("#"+div).data("shades");
                                console.log(rings);
                                data = {
                                    datasets: [{
                                        data: [stims, creeps, rings,arts,shades],
                                        backgroundColor: ['rgb(68, 238, 68)','rgb(221, 85, 221)','rgb(255, 255, 102)','rgb(102, 238, 238)','rgb(229, 229, 229)'],
                                    }],

                                    // These labels appear in the legend and in the tooltips when hovering different arcs
                                    labels: [
                                    'stims',
                                    'creeps',
                                    'rings',
                                    'arts',
                                    'shades'
                                    ]
                                };
                                options={
                                    responsive: true,
                                };
                                // For a pie chart
                                var ctx = document.getElementById(div).getContext('2d');
                                var myPieChart = new Chart(ctx,{
                                    type: 'pie',
                                    data: data,
                                    options: options
                                });
                            });
                        </script>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    {% if challenges %}
        <hr>
        <div class="sd-head">
            <h3 class="title">Maps</h3>
        </div>

        <table class="table dt-responsive nowrap" id="dt-challenges">
            <thead>
                <tr>
                    <th scope="col" data-priority="1">#</th>
                    <th scope="col" data-priority="2">Name</th>
                    <th scope="col" data-priority="3">Completed by</th>
                    <th scope="col" data-priority="4">Time</th>
                    <th scope="col">Bonuses taken by</th>
                    <th scope="col">Buttons done by</th>
                    <th scope="col" data-sortable="false"></th>
                </tr>
            </thead>
            <tbody>
                {% for challenge in challenges %}
                    <tr>
                        <td scope="row">{{ challenge.index|e }}</td>
                        <td>{{ challenge.challengeName|e }}</td>
                        <td>{{ challenge.playerName|raw }}</td>
                        <td><a  class="popover-best-time" data-container="body" data-toggle="popover" data-placement="bottom" data-content=
                        "<tr>
                            <td class='td-pop-times'>
                                <b>Normal: </b><br/>
                                {% for time in challenge.timesNormal %}
                                {{ loop.index }}. {{ time|time_elapsed(true) }}<br/>
                                {% endfor %}
                            </td>
                            {% if challenge.timesFast|length > 0 %}
                            <td class='td-pop-times'>
                                <b>fast: </b><br/>
                                {% for time in challenge.timesFast %}
                                {{ loop.index }}. {{ time|time_elapsed(true) }}<br/>
                                {% endfor %}
                            </td>
                            {% endif %}
                            {% if challenge.timesSpeedy|length > 0 %}
                             <td class='td-pop-times'>
                                <b>Speedy: </b><br/>
                                {% for time in challenge.timesSpeedy %}
                                {{ loop.index }}. {{ time|time_elapsed(true) }}<br/>
                                {% endfor %}
                            </td>
                            {% endif %}
                            ">

                        {{ challenge.time|time_elapsed(true) }}<br/> <small class="text-muted">best: {{ challenge.bestTime|time_elapsed(true) }}</small></td></a>
                        <td>{{ challenge.bonus|raw }}</td>
                        <td>{{ challenge.btn|raw}}</td>
                        <td>
                            <img alt="{{ challenge.challengeName }}" class="img-fluid challenge-img" src="{{asset("uploads/img/maps/thumb/") ~ challenge.image}}" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <img src="" class="enlargeImageModalSource" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dt-challenges').DataTable({
                pageLength: 50,
                order: [[ 0, "asc" ]],
                dom: "<'row'<'col-sm-12'tr>>",
            });
            var is_touch_device = ("ontouchstart" in window) || window.DocumentTouch && document instanceof DocumentTouch;

            $('[data-toggle="popover"]').popover({ html : true,trigger: is_touch_device ? "click focus" : "hover focus"});
            $('body').on('click', function (e) {
                $('[data-toggle="popover"]').each(function () {
                    //the 'is' for buttons that trigger popups
                    //the 'has' for icons within a button that triggers a popup
                    if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                        $(this).popover('hide');
                    }
                });
            });
            $('.challenge-img').on('click', function() {
                var url =$(this).attr('src');
                url=url.replace("thumb","full");
                $('.enlargeImageModalSource').attr('src', url);
                $('#enlargeImageModal').modal('show');
            });
        });


    </script>
{% endblock %}