{% extends 'base.html.twig' %}

{% set page_title = 'Stats' %}

{% block content %}
    <div class="">
        <canvas id="chart" ></canvas>
    </div>
    <div id="container" style="height: 400px; min-width: 310px"></div>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

    <table id="myTable" class="table dt-responsive nowrap">
        <thead>
            <tr>
                <th scope="col">day</th>
                <th scope="col">ibe1</th>
                <th scope="col">ibe2</th>
                <th scope="col">ibe2.1</th>
                <th scope="col">ibecv</th>
                <th scope="col">ibecv ez</th>
                <th scope="col">ibecv pro</th>
            </tr>
        </thead>
        <tbody>
                    {% for item in stats %}
                        <tr>
                            <td>{{ item.day }}</td>
                            <td>{{ item.ibe1 }}</td>
                            <td>{{ item.ibe2 }}</td>
                            <td>{{ item.ibe2_1 }}</td>
                            <td>{{ item.ibe_cv }}</td>
                            <td>{{ item.ibe_cv_ez }}</td>
                            <td>{{ item.ibe_cv_pro }}</td>
                        </tr>
                    {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 50,
                "order": [[ 0, "desc" ]]
            });
        });
    </script>
        <script type="text/javascript">
        $(document).ready(function(){
            var div="chart";

            var ibe1 = "{{ ibe1|join(',') }}".split(",");
            var ibe2 = "{{ ibe2|join(',') }}".split(",");
            var ibe2_1 = "{{ ibe2_1|join(',') }}".split(",");
            var ibe_cv = "{{ ibe_cv|join(',') }}".split(",");
            var ibe_cv_ez = "{{ ibe_cv_ez|join(',') }}".split(",");
            var ibe_cv_pro = "{{ ibe_cv_pro|join(',') }}".split(",");
            var btb = "{{ btb|join(',') }}".split(",");
            var btb_ez = "{{ btb_ez|join(',') }}".split(",");
            var btb_pro = "{{ btb_pro|join(',') }}".split(",");
            var btb_bane = "{{ btb_bane|join(',') }}".split(",");
            var day_array = "{{ day|join(',') }}".split(",");


            var seriesOptions = [],
                seriesCounter = 0,
                names = ['ibe1','ibe2','ibe2_1','ibe_cv','ibe_cv_ez','ibe_cv_pro','btb','btb_ez','btb_pro','btb_bane'];

                /**
                * Create the chart when all data is loaded
                * @returns {undefined}
                */
                function createChart() {

                    Highcharts.stockChart('container', {
                        chart: {
                            alignTicks: false
                        },
                        rangeSelector: {
                            selected: 4
                        },
                       title: {
                            text: 'Stats'
                            },
                        yAxis: {

                            plotLines: [{
                                value: 0,
                                width: 2,
                                color: 'silver'
                            }]
                        },

                        series: seriesOptions
                    });
                }

                function success(data) {
                    //var name = this.url.match(/(ibe1|aapl|goog)/)[0].toUpperCase();
                    //var i = names.indexOf(name);
                    outData = [];

                    for (i = 0; i < data.length; i++) {
                        outData[i] = {
                            x: Date.parse(day_array[i]),
                            y: parseInt(data[i])
                        }
                    }
                    console.log(outData);
                    console.log( names[seriesCounter]);
                    seriesOptions[seriesCounter] = {


                        name: names[seriesCounter],
                        data: outData
                    };

                    // As we're loading the data asynchronously, we don't know what order it
                    // will arrive. So we keep a counter and create the chart when all the data is loaded.
                    seriesCounter += 1;

                    if (seriesCounter === names.length) {
                        console.log("create");
                        createChart();
                    }
                }
                success(ibe1);
                success(ibe2);
                success(ibe2_1);
                success(ibe_cv);
                success(ibe_cv_ez);
                success(ibe_cv_pro);
                success(btb);
                success(btb_ez);
                success(btb_pro);
                success(btb_bane);
        });
    </script>
{% endblock %}
