<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <title>
            {%- block title -%}
                {%- if page_title is defined -%}
                    {{ page_title }} / {{ '' }}
                {%- endif -%}
                Ice Baneling Escape - Rankings
            {%- endblock -%}
        </title>
        {% if metaPropsDescription is defined %}
            <meta name="description" content="{{ metaPropsDescription }}">
        {% endif %}
        {% include '_partial/favicon.html.twig' %}
        {% block metaSocial %}
            {% if app.request.attributes.has('_route') %}
                {% set metaPropsUrl = absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) %}
            {% endif %}
            {% set metaProps = {
                'og:site_name': 'Ice Baneling Escape - Rankings',
                'og:type': 'website',
                'og:title': page_title|default(null),
                'og:description': metaPropsDescription|default(null),
                'og:image': metaPropsImage|default(absolute_url(asset('build/images/logo.png'))),
                'og:url': metaPropsUrl|default(null)
            } %}
            {% for key, value in metaProps -%}
                {%- if value is not null -%}
                    <meta property="{{ key }}" content="{{ value }}"/>
                {% endif -%}
            {%- endfor %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
        <link rel="stylesheet" href="{{ asset('build/common.css') }}">
        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Chau+Philomene+One:400&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,600,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&amp;subset=latin-ext" rel="stylesheet">
        <script src="{{ asset('build/runtime.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
    </head>
    {%- set bodyTags = {'class': []} -%}
    <body {% if bodyTags['class']|length > 0 %} class="{{ bodyTags['class']|join(' ') }}" {% endif %}>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="{{ asset('build/images/logo.png') }}" class="img-fluid" alt="">
                    <h3>IBE - Rankings</h3>
                </a>
                <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('escapes') }}">Escapes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/players">WR holders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/maps">Maps</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('replay_checker') }}">Replay analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/bank">Bank recovery</a>
                        </li>
                        <li class="nav-item crystalconflux">
                            <a class="nav-link" href="https://crystalconflux.com/games/ice-baneling-escape/" target="_blank">IBE - Official Website</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="main" role="main">
            {% block body %}
                <div class="container main">
                {% if page_title is defined %}
                    <div class="sd-head">
                        <h1 class="title">{{ page_title }}</h1>
                    </div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            {% endblock %}
        </main>
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <span>Source code hosted on GitLab</span>
                        <a class="gitlab" href="https://gitlab.com/sc2-ibe/website" target="_blank" title="Hosted on GitLab">
                            <img class="img-fluid" width="26" src="{{ asset('build/images/gitlab-logo.svg') }}" alt="GitLab">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>