{% extends 'base.html.twig' %}

{% set page_title = 'Bank recovery from SC2Replay' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Upload replay file
            <div class="float-right"><em class="text-muted">Powered by <a href="https://github.com/Talv/sc2-repdump" target="_blank">s2repdump</a></em></div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <p>
                            Reconstructs *.SC2Bank files from provided replay. Data comes from NNet packets that is transmitted during preload process of online game.
                        </p>

                        <form enctype="multipart/form-data" id="fupForm" class="file-submit">
                            <div class="form-group row">
                                <input id="file" accept=".SC2Replay" name="file" type="file" />
                            </div>
                            <div class="form-group row">
                                <input type="submit" name="submit" class="btn btn-danger btn-block submitBtn" value="Upload" />
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-6">
                        <div class="alert fade" style="display:block;" role="alert">
                        </div>

                        <div id="player_div" style="display:none">
                            <div class="form-inline">
                                <select class="js-example-basic js-states form-control" id="player"></select>
                                <input type="submit" id="dl_bank" class="btn btn-danger " value="Download Banks" />
                            </div>
                        </div>

                        <div id="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            document.getElementById("loader").style.display = "none";

            $("#dl_bank").on('click', function (e) {
                console.log($("#player").val());
                $.ajax({
                    type: 'POST',
                    url: '/extractBank/'+$("#player").val(),
                    data: new FormData(fupForm),
                    contentType: false,
                    cache: false,
                    processData: false,
                    beforeSend: function () {
                        $('.submitBtn').attr("disabled", "disabled");
                        $('#fupForm').css("opacity", ".5");
                        $(".alert").removeClass('alert-danger').removeClass('alert-success');
                    },
                    success: function (data) {
                        console.log(data);
                        location.href = "/uploads/banks/"+data;

                        window.setTimeout(function() {
                                window.location.reload();
                            }, 1500)
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        resetFrom();
                        $(".alert").addClass('alert-danger').text("Whoops, something went wrong.");
                        $(".alert").removeClass("fade");
                    },
                });
            });
            $("#fupForm").on('submit', function (e) {
                document.getElementById("loader").style.display = "block";
                e.preventDefault();
                function resetFrom() {
                    document.getElementById("loader").style.display = "none";
                    $('.submitBtn').removeAttr("disabled");
                    $('#fupForm').css("opacity", "1");
                }
                $.ajax({
                    type: 'POST',
                    url: '/extractBankPlayers',
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    beforeSend: function () {
                        $('.submitBtn').attr("disabled", "disabled");
                        $('#fupForm').css("opacity", ".5");
                        $(".alert").removeClass('alert-danger').removeClass('alert-success').addClass('fade');
                    },
                    success: function (data) {
                        if (data.success === false) {
                            $(".alert").text(data.message);
                            $(".alert").addClass(data.success ? 'alert-success' : 'alert-danger');
                            $(".alert").removeClass("fade");
                            resetFrom();
                            return;
                        }

                        data=Object.values(data);
                        for (var i = 0; i < data.length; i++) {
                            if(data[i]["handle"]!="0-S2-0-0"){
                                var name = data[i]["name"];
                                name = name.split("<sp/>").pop();
                                var text=data[i]["handle"]+"   "+name;
                                $("#player").append(new Option(text, i));
                            }

                        }
                        $(".alert").text(data.message);
                        //$(".alert").addClass(data.success ? 'alert-success' : 'alert-danger');
                        $(".alert").removeClass("fade");

                        if (data.success) {
                            /*window.setTimeout(function() {
                                window.location.href = data.path;
                            }, 1500)*/
                        }

                        $("#player_div").css("display","block");
                        resetFrom();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        resetFrom();
                        $(".alert").addClass('alert-danger').text("Whoops, something went wrong.");
                        $(".alert").removeClass("fade");
                    },
                });
            });
        });
    </script>
{% endblock %}