{% extends 'base.html.twig' %}

{% block body %}
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            overflow-y: scroll;
            position: relative;
        }

        .page {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: center;
            justify-content: center;
            min-height: 100%;
        }
    </style>

    <div class="page">
        <div class="page-content">
            <div class="container text-center">
                <div class="display-1 text-muted mb-3"><i class="si si-exclamation"></i> {{ status_code }}</div>
                <h1 class="h2 mb-3">Oops.. You just found an error page..</h1>
                {% if status_code == 403 %}
                    <p class="h4 text-muted font-weight-normal mb-3">We are sorry but you do not have permission to access this page…</p>
                {% elseif status_code == 404 %}
                    <p class="h4 text-muted font-weight-normal mb-3">Page not found.</p>
                {% elseif status_code == 500 %}
                    <p class="h4 text-muted font-weight-normal mb-3">We are sorry but your request contains bad syntax and cannot be fulfilled…</p>
                {% elseif status_code == 503 %}
                    <p class="h4 text-muted font-weight-normal mb-3">Page temporarily unavailable. Please reload your browser.</p>
                {% else %}
                    <p class="h4 text-muted font-weight-normal mb-3">Something is broken. Please let us know what you were doing when this error occurred.
                    We will fix it as soon as possible.</p>
                {% endif %}
                <a class="btn btn-lg btn-primary my-3" href="javascript:history.back()">
                    <i class="fas fa-arrow-left"></i> Go back
                </a>
            </div>
        </div>
    </div>
{% endblock %}