{% extends 'base.html.twig' %}

{% set page_title = 'SC2Replay Analysis' %}
{% set metaPropsImage = absolute_url(asset('build/images/logo.png')) %}

{% block content %}
    <div class="replay-submit">
        <form action="{{ path('replay_checker') }}" enctype="multipart/form-data" id="fupForm" method="POST">
            <input class="form-control" id="file" accept=".SC2Replay" name="file" type="file" required/>
            <input type="submit" name="submit" class="btn btn-sm btn-success btn-block submitBtn" value="Analyze" />
        </form>
    </div>

    <div class="">
        {% for run in runs|default([]) %}
            <hr>
            <div class="sd-head">
                <h3 class="title">Run {{ loop.index }}</h3>
            </div>
            <div class="run-section card mb-2">
                <div class="card-body">
                    Challenges : {{ run.challenges|length }}
                    Total time difference :{{ run.timeDiff|time_elapsed }}
                </div>
                <table class="table dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th data-sortable="false">#</th>
                            <th data-sortable="false">Name</th>
                            <th data-sortable="false">Time</th>
                            <th data-sortable="false">Time difference</th>
                            <th data-sortable="false">Best time</th>
                            <th data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for challenge in run.challenges %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ challenge.name }}</td>
                                {% if challenge.time is not null %}
                                    <td>{{ challenge.time|time_elapsed(true) }}</td>
                                    <td>{{ (challenge.time - challenge.bestTime)|time_elapsed(true) }}</td>
                                    <td>{{ challenge.bestTime|time_elapsed(true) }}</td>
                                    <td></td>
                                {% else %}
                                    <td>Failed</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.run-section table').DataTable({
                pageLength: 50,
                dom: "<'row'<'col-sm-12'tr>>",
            });
        });
    </script>
{% endblock %}