<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/favicon/apple-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ asset('build/favicon/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/favicon/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon/favicon-16x16.png') }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ asset('build/favicon/ms-icon-144x144.png') }}">
<meta name="theme-color" content="#aecfd1">